body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('Images/back.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.nav {

    display: flex;

    justify-content: space-between;
    margin: 10px 4.5rem;
}

.right ul {
    display: flex;
    justify-content: space-around;
    gap: 34px;
    

}
.right{
    display: grid;
    grid-template-columns: 405px 10px;
    grid-template-rows: 58px;

}
.right label{
    grid-column: 1/1;
    grid-row: 1/1;
    justify-self: end;
    align-self: center;
    
}.right ul{
    grid-column: 1/1;
    grid-row: 1/1;
}

.right ul li:hover {
    cursor: pointer;
    transform: translateY(-2px);

    border-bottom: 2px solid red;
    transition: ease 0.1s;

}

.right li {
    font-size: 15px;
    color:rgb(75, 85, 99);
    list-style: none;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.logo img {
    max-width: 190px;
    min-height: 66px;

}

.right-footer {
    
    display: grid;
    grid-template-columns: 1.75em 1.75em 1.75em 1.75em;
    grid-template-rows: 1.75em;
}
.svg{
    color: rgb(107, 114, 128);
    cursor: pointer;
    width:1.25em;
    padding:0.313rem;
}
.foot{
    display:flex;
    /* grid-template-columns: 200px 200px auto; */
    align-items: center;
    justify-content: space-between;
    margin: 10px 4.5rem;
}
.right-footer{
    justify-self: end;
}
.test{
    display: flex;
    align-items: center;
}
.menu{
   display: none;
   width: 2em;
   color:red;
   cursor: pointer;
}
#check{
    display: none;
}
.right ul label{
    display: none;
}
.menu-content{
    display: none;
}
.hr{
    display: none;
}
#check2{
    display: none;
}
.close{
    display: none;
}
@media only screen and (max-width:741px) and (min-width:600px){
  
    .menu{
        display: block;
    }
    .right{ 
        display: flex;
        align-items: center;
       
    }
    .hr{
        display: block;
    }

    .menu-box{
        display: flex;
        width: 79vw;
        height: 75vh;
        flex-direction: column;
         background-color:#de6364;
        
        
       
        position: relative;
        
      top: -1000px; /*-10 is actual value*/
      box-shadow: -10px 0px 50px #888888;
       right: -94px;
        /* left:-100%; */
    } 
    .menu-content{
        display: inline;
    }
   
    .right ul{
  display: none;
        flex-direction: column;
    position: relative;
    top: 290px;
    right: 190px;
    z-index: 1;
    }
    #check:checked ~ .menu-box{
        
     top:-10px;
    transition: all ease-in-out 1s;
   
    }
    
   .menu-content ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
   padding-left: 0;
    font-size: 46px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
   }
   .menu-content ul li{
    padding:10px;
   }
   .menu-content ul li:hover{
    cursor: pointer;
    transform: translateY(-2px);
    border-bottom: 2px solid red;
    transition: ease 0.1s;

    
   }
.close{
    margin:5px 10px;
    display: flex;
    align-self: end;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
}
  

      
    }
    

@media only screen and (max-width:600px) and (min-width:500px){
        /* margin: 10px 4.5rem; */
        /* 190 145 120 */
     
        .foot{
          display: grid;
          grid-template-columns: 226px 200px;
          grid-template-rows: 100px 90px;
        }
        .menu{
            display: block;
        }
        .right{ 
            display: flex;
            align-items: center;
           
        }
        .hr{
            display: block;
        }
    
        .menu-box{
            display: flex;
            width: 79vw;
            height: 75vh;
            flex-direction: column;
             background-color:#de6364;
            
            
           
            position: relative;
            
          top: -1000px; /*-10 is actual value*/
          box-shadow: -10px 0px 50px #888888;
           right: -94px;
            /* left:-100%; */
        } 
        .menu-content{
            display: inline;
        }
       
        .right ul{
      display: none;
            flex-direction: column;
        position: relative;
        top: 290px;
        right: 190px;
        z-index: 1;
        }
        #check:checked ~ .menu-box{
            
         top:-10px;
        transition: all ease-in-out 1s;
       
        }
        
       .menu-content ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: center;
        align-items: center;
       padding-left: 0;
        font-size: 46px;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
       }
       .menu-content ul li{
        padding:10px;
       }
       .menu-content ul li:hover{
        cursor: pointer;
        transform: translateY(-2px);
        border-bottom: 2px solid red;
        transition: ease 0.1s;
    
        
       }
    .close{
        margin:5px 10px;
        display: flex;
        align-self: end;
        font-size: x-large;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    }
    .test{
        flex-direction: column;
    }
     .right-footer{
        /* justify-content: center;
        grid-column: 1/1;
        grid-row: 2/3; */
     } 
     .copyright{
        display: none;
     }
    
     
    }
    @media only screen and (max-width:500px) and (min-width:300px){
        .foot{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 100px 90px;
          }
          .menu{
              display: block;
          }
          .right{ 
              display: flex;
              align-items: center;
             
          }
          .hr{
              display: block;
          }
      
          .menu-box{
              display: flex;
              width: 79vw;
              height: 75vh;
              flex-direction: column;
               background-color:#de6364;
              
              
             
              position: relative;
              
            top: -1000px; /*-10 is actual value*/
            box-shadow: -10px 0px 50px #888888;
             right: 0;
              left:50px;
          } 
          .menu-content{
              display: inline;
          }
         
          .right ul{
        display: none;
              flex-direction: column;
          position: relative;
          top: 290px;
          right: 190px;
          z-index: 1;
          }
          #check:checked ~ .menu-box{
              
           top:-10px;
          transition: all ease-in-out 1s;
         
          }
          
         .menu-content ul{
          display: flex;
          flex-direction: column;
          list-style: none;
          justify-content: center;
          align-items: center;
         padding-left: 0;
          font-size: 46px;
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
         }
         .menu-content ul li{
          padding:10px;
         }
         .menu-content ul li:hover{
          cursor: pointer;
          transform: translateY(-2px);
          border-bottom: 2px solid red;
          transition: ease 0.1s;
      
          
         }
      .close{
          margin:5px 10px;
          display: flex;
          align-self: end;
          font-size: x-large;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
      }
      .test{
          flex-direction: column;
      }
       .right-footer{
          justify-self: center;
          grid-column: 1/1;
          grid-row: 2/3;
       } 
       .copyright{
        font-size: 15px;
        color:rgb(75, 85, 99);
        
        font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
       }
       .nav{
       
        margin: 10px 2.5rem;
       }
     }